*{
    padding: 0px;
    margin: 0px;
}
#electronic_gadgets_heading{
    font-size: 50px;
    font-family: NeueMachina;
}
#list_section{
    width: fit-content;
    height: 400px;
    padding-left: 50px;
    background-color: lightgray;
    overflow: auto;
}
.electronic_gadgets_list_items{
    font-size: 30px;
    font-family: ProductSans;
    list-style-type: none;
}
.electronic_gadgets_list_items::marker{
    content: "👉";
}
#mobiles_list,#laptops_list{
    margin-left: 50px;
}
.mobiles_list_items,.laptops_list_items{
    padding-left: 20px;
}
.mobiles_list_items::marker{
    content: "📱";
}
.laptops_list_items::marker{
    content: "💻";
}
#list_section::-webkit-scrollbar{
    width: 15px;
    background-image: radial-gradient(circle at top,white,gray);
    box-shadow: 0px 5px 5px black;
}
#list_section::-webkit-scrollbar-thumb{
    background-image: linear-gradient(white,gray);
    box-shadow: 0px 5px 5px black;
}
#list_section::-webkit-scrollbar-thumb:hover{
    border: 0.5px solid gray;
}
@font-face{
    font-family:NeueMachina ;
    src: url(../../../assets/fonts/NeueMachina-Regular.otf);
}
@font-face{
    font-family:ProductSans ;
    src: url(../../../assets/fonts/Product\ Sans\ Regular.ttf);
}