*{
    padding: 0px;
    margin: 0px;
}
.containers{
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 250px;
    transition: transform 500ms;
}
.containers:hover{
    /* rotate functions */
    transform: rotateX(360deg);
    transform: rotateY(360deg);
    transform: rotateZ(360deg);
    /* skew functions */
    transform: skewX(90deg);
    transform: skewY(90deg);
    transform: skew(10deg,30deg);
    /* scale functions */
    transform: scaleX(0.5);
    transform: scaleX(1.5);
    transform: scale(0.5);
    /* translate function */
    transform: translateX(100px);
    transform: translateY(100px);
    transform: translate(100px,100px);
}
#red_container{
    background-color: red;
    margin-left: 37.5%;
}
#blue_container{
    background-color:blue;
}
#black_container{
    background-color:black;
}
