*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
}
#ambulance_siren{
    width: 300px;
    height: 100px;
    position: relative;
    top: 250px;
    left: 38.5%;
}
.siren{
    width: 49%;
    height: 100%;
    float: left;
    border-radius: 30px 30px 0px 0px;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
#red_siren{
    animation-name: toAnimateRedSiren;
}
#blue_siren{
    animation-name: toAnimateBlueSiren;
}
@keyframes toAnimateRedSiren{
    from{
        background-color: transparent;
    }
    to{
        background-color: red;
        box-shadow: 10px 10px 50px red,
        -10px -10px 50px red,10px -10px 50px red,
        -10px 10px 50px red;
    }
}
@keyframes toAnimateBlueSiren{
    from{
        background-color: blue;
        box-shadow: 10px 10px 50px blue,
        -10px -10px 50px blue,10px -10px 50px blue,
        -10px 10px 50px blue;

    }
    to{
        background-color:transparent;
       
    }
}