.division{
    width: 100px;
    height: 100px;
    
    

}
#linear_gradient{
    background-image: linear-gradient(135deg,orange,white,green);
}
#radial_gradient{
    background-image: radial-gradient(orange,white,green);
}
#conical_gradient{
    background-image: conic-gradient(orange,white,green,black,blue,yellow,magenta,red);
}
#rainbow_gradient{
    background-image: radial-gradient(circle at bottom right,violet,indigo,blue,green,yellow,orange,red);
}
